#**NMF**
---
**Name(s):** Thodori Kapouranis, Steven Lee

**Class:** ECE-475

**Professor:** Keene

# **Installation**

In [ ]:
!pip install numpy
!pip install scikit-surprise

Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (1.19.4)
Collecting scikit-surprise
  Downloading https://files.pythonhosted.org/packages/97/37/5d334adaf5ddd65da99fc65f6507e0e4599d092ba048f4302fe8775619e8/scikit-surprise-1.1.1.tar.gz (11.8MB)
     |████████████████████████████████| 11.8MB 3.9MB/s
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise) (1.0.0)
Requirement already satisfied: numpy>=1.11.2 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise) (1.19.4)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise) (1.4.1)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise) (1.15.0)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (setup.py) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.1-cp36-cp36m-linux_x86_64.whl size=1618267 sha256=5c9dd3f5d42c85bcd5d23dd7c7665dadafdee35bfded93473c31ec3915cd0308
  Stored in directory: /root/.cache/pip/wheels/78/9c/3d/41b419c9d2aff5b6e2b4c0fc8d25c538202834058f9ed110d0
Successfully built scikit-surprise
Installing collected packages: scikit-surprise
Successfully installed scikit-surprise-1.1.1

# **MovieLens Dataset (100k)**

In [ ]:

from surprise import SVD
from surprise import NMF
from surprise import Dataset
from surprise.model_selection import cross_validate
from surprise.model_selection import GridSearchCV
import numpy as np
import pandas as pd

data = Dataset.load_builtin('ml-100k')
algo = NMF()
# perf = cross_validate(algo, data, measures=['RMSE', 'MAE'], cv=3, verbose=True)
# print(perf)

Evaluating RMSE, MAE of algorithm NMF on 3 split(s).

                  Fold 1  Fold 2  Fold 3  Mean    Std
RMSE (testset)    0.9791  0.9666  0.9693  0.9717  0.0054
MAE (testset)     0.7688  0.7607  0.7610  0.7635  0.0038
Fit time          4.31    4.37    4.37    4.35    0.03
Test time         0.37    0.20    0.35    0.30    0.07
{'test_rmse': array([0.97914919, 0.96658925, 0.9693216 ]), 'test_mae': array([0.76883957, 0.76065397, 0.76100767]), 'fit_time': (4.308727264404297, 4.374547719955444, 4.373061895370483), 'test_time': (0.36517763137817383, 0.2010335922241211, 0.3458740711212158)}

# **Grabbing ratings and id to title mapping**

In [ ]:
def grabItems():
    file_name = (os.path.expanduser('~') +
                 '/.surprise_data/ml-100k/ml-100k/u.item')
    id_to_name = {}
    name_to_id = {}
    with io.open(file_name, 'r', encoding='ISO-8859-1') as f:
        for line in f:
            line = line.split('|')
            id_to_name[line[0]] = line[1]
            name_to_id[line[1]] = line[0]
    return id_to_name, name_to_id

id_to_name, name_to_id = grabItems()
ratings_df = pd.read_csv(data.ratings_file, delimiter='\t')
ratings_df.columns = ['userId', 'movieId', 'rating', 'timestamp']
ratings_df

       userId  movieId  rating  timestamp
0         186      302       3  891717742
1          22      377       1  878887116
2         244       51       2  880606923
3         166      346       1  886397596
4         298      474       4  884182806
...       ...      ...     ...        ...
99994     880      476       3  880175444
99995     716      204       5  879795543
99996     276     1090       1  874795795
99997      13      225       2  882399156
99998      12      203       3  879959583

[99999 rows x 4 columns]

# **Finding optimal params**

In [ ]:
# This takes a long time to run!
param_grid = {'n_factors': [10,12,14,16,18,20], 'reg_pu':[0.01, 0.02, 0.04, 0.06], 'reg_qi':[0.01, 0.02, 0.04, 0.06]}
gs = GridSearchCV(NMF, param_grid, measures=['rmse'], cv=5)
gs.fit(data)

# best RMSE score
print(gs.best_score['rmse'])

# combination of parameters that gave the best RMSE score
print(gs.best_params['rmse'])

0.9625446224321106
{'n_factors': 16, 'reg_pu': 0.06, 'reg_qi': 0.06}

# **Training with the optimal params**

In [ ]:
trainset = data.build_full_trainset()
testset = trainset.build_anti_testset()

# Fitting the model with the optimal parameters
algo = NMF(n_factors=16)
algo.fit(trainset)

# Building predictions
pred = algo.test(testset)

# **Recommendation building function**

In [ ]:
from collections import defaultdict #data colector

def recommend(pred, id, movies, ratings, n=10):
  top_n = defaultdict(list)
  for uid, iid, true_r, est, _ in pred:
    top_n[uid].append((iid, est))
  
  for uid, user_ratings in top_n.items():
    user_ratings.sort(key = lambda x: x[1], reverse = True)
    top_n[uid] = user_ratings[: n]
  
  preds_df = pd.DataFrame([(id, pair[0],pair[1], movies[pair[0]]) for id, row in top_n.items() for pair in row],
                        columns=["User ID" ,"Movie ID","Rating prediction", "Title"])
  pred_usr = preds_df[preds_df["User ID"] == str(id)]

  hist_usr = ratings_df[ratings_df["userId"] == id].sort_values("rating", ascending = False)
  titles = [ id_to_name[str(i)] for i in hist_usr["movieId"].values ] 
  hist_usr["Titles"] = titles

  return pred_usr, hist_usr
  
pred_usr, hist_usr = recommend(pred, 365, id_to_name, ratings_df, 10)

In [ ]:
hist_usr

       userId  ...                                          Titles
7106      365  ...                                 In & Out (1997)
36063     365  ...                            Boogie Nights (1997)
26305     365  ...                                   Scream (1996)
30054     365  ...                          Beautiful Thing (1996)
8909      365  ...                    Celluloid Closet, The (1995)
44345     365  ...                              Chasing Amy (1997)
15653     365  ...                                 Swingers (1996)
35173     365  ...                                    Fargo (1996)
12534     365  ...                                   Mother (1996)
25081     365  ...                          Full Monty, The (1997)
30843     365  ...                        Starship Troopers (1997)
33523     365  ...                 Star Trek: First Contact (1996)
36534     365  ...                                 Scream 2 (1997)
21887     365  ...                                Apt Pupil (1998)
39531     365  ...                James and the Giant Peach (1996)
41452     365  ...                           Secrets & Lies (1996)
43666     365  ...                              Restoration (1995)
46276     365  ...                    First Wives Club, The (1996)
59391     365  ...                                Toy Story (1995)
63092     365  ...                              Primal Fear (1996)
63563     365  ...                       As Good As It Gets (1997)
24898     365  ...                           Kiss Me, Guido (1997)
27292     365  ...    Willy Wonka and the Chocolate Factory (1971)
9681      365  ...                            Marvin's Room (1996)
14551     365  ...                            Birdcage, The (1996)
7445      365  ...                             Trees Lounge (1996)
8095      365  ...                                  Contact (1997)
8997      365  ...                                Lone Star (1996)
12362     365  ...                    Sense and Sensibility (1995)
86138     365  ...                 Everyone Says I Love You (1996)
20786     365  ...                          Beautiful Girls (1996)
20029     365  ...                        Good Will Hunting (1997)
18161     365  ...                                   Ransom (1996)
74514     365  ...                     2 Days in the Valley (1996)
54185     365  ...          To Gillian on Her 37th Birthday (1996)
15786     365  ...                                    Evita (1996)
46364     365  ...                                Big Night (1996)
8764      365  ...                               Half Baked (1998)
69237     365  ...                            Jerry Maguire (1996)
78855     365  ...                             One Fine Day (1996)
37180     365  ...                               Phenomenon (1996)
12163     365  ...                         Mighty Aphrodite (1995)
7163      365  ...                       Mr. Holland's Opus (1995)
15210     365  ...                            She's the One (1996)
78908     365  ...                         Last Supper, The (1995)
85414     365  ...            Kids in the Hall: Brain Candy (1996)
7630      365  ...  Mystery Science Theater 3000: The Movie (1996)
49840     365  ...                                G.I. Jane (1997)
55272     365  ...                        Leaving Las Vegas (1995)
24771     365  ...             Gilligan's Island: The Movie (1998)
11661     365  ...                           Twelve Monkeys (1995)
36769     365  ...                            Mars Attacks! (1996)
22638     365  ...             Man Who Knew Too Little, The (1997)
62968     365  ...                                 Deceiver (1997)
18786     365  ...                               Booty Call (1997)
64890     365  ...                              Spice World (1997)
10959     365  ...                             Home Alone 3 (1997)
26368     365  ...                                Liar Liar (1997)

[58 rows x 5 columns]

**User's history :**
---
In this users 5-star rated movies, we see a wide spread of genres:


**Drama/Comedy** : Beautiful Thing, Chasing Amy, Boogie Nights


**Drama/Thriller** : Fargo


**Drama** : Mother


**Horror** : Scream


**History** : The Celluloid Closet


**Comedy** : In & Out

In [ ]:
pred_usr

     User ID Movie ID  Rating prediction                                 Title
3590     365      867           5.000000          Whole Wide World, The (1996)
3591     365     1368           5.000000                Mina Tannenbaum (1994)
3592     365     1467           5.000000  Saint of Fort Washington, The (1993)
3593     365      318           4.989719               Schindler's List (1993)
3594     365     1536           4.889612                  Aiqing wansui (1994)
3595     365     1449           4.868046                Pather Panchali (1955)
3596     365     1650           4.856729               Butcher Boy, The (1998)
3597     365     1636           4.811802            Brothers in Trouble (1995)
3598     365     1651           4.759367          Spanish Prisoner, The (1997)
3599     365     1500           4.748120             Santa with Muscles (1996)

The predictions split in these categories:

**Drama/thriller** : The Spanish prisoner

**Drama** : Pather Panchali, Vive L'Amour, Saint of Fort Washington, Mina Tannenbaum,  The Whole Wide World


**Drama/History** : Schlinder's List

**Drama/comedy** : Brothers in Trouble, Butcher Boy, 


**Comedy** : Santa With Muscles




It seems that the algorithm focused on the large pile of movies that are tagged drama, and then combined them with other genres that also recieved high rating. These results make a lot of sense and are very consistent with the users history.

# **Stretch Goal 1**

In [ ]:
class myNMF:
  # We will be trying to estimate A = WH
  def __init__(self, data, latent=10, lu=0.01, li=0.01):
    self.users = len( data.all_users() )
    self.items = len( data.all_items() )
    
    # Set up the matrix that we will be trying to factorize
    # rows are users, columns are movies, entries is the rating
    self.A = np.zeros( (self.users, self.items) )
    for rating in data.all_ratings():
      self.A[rating[0], rating[1]] = rating[2]

    self.W = np.random.uniform(0,1,(self.A.shape[0], latent))
    self.H = np.random.uniform(0,1,(self.A.shape[1], latent))

    self.latent= latent
    self.lu = lu
    self.li = li

  # Referenced for update rule: 
  # https://blog.insightdatascience.com/explicit-matrix-factorization-als-sgd-and-all-that-jazz-b00e4d9b21ea
  def alt_update(self):
    # Alternating update rule
    # We must work user by user or movie by movie, because of missing values.
    for user in range(self.users):
      rated_movies = [True if i>0 else False for i in self.A[user,:] ] # User's rated movies (True/False array)
      user_ratings = self.A[user,:][rated_movies]                      # User's ratings for the above movies

      # Update the proper rows/col
      H_tmp = self.H[rated_movies, :]
      self.W[user,:] = user_ratings @ H_tmp @ np.linalg.pinv(H_tmp.T @ H_tmp + self.lu * np.eye(self.latent))
    
    for item in range(self.items):
      rated_users  = [True if i>0 else False for i in self.A[:,item]]
      user_ratings = self.A[:,item][rated_users] 
      
      W_tmp = self.W[rated_users,:]
      self.H[item,:] = user_ratings @ W_tmp @ np.linalg.inv(W_tmp.T @ W_tmp + self.li *np.eye(self.latent))

  def error(self):
    existing_predictions = np.sign(self.A) * (self.W @ self.H.T)
    return np.linalg.norm(self.A - existing_predictions, 'fro')

  def train(self, iterations, vocal=False):
    for i in range(iterations):
      self.alt_update()
      if vocal==True:
        print(f'i={i} error:{self.error()}' )

  def predict(self, user, item):
    # Find the prediction by matrix multiplying the two factored matrices
    return self.W[user,:] @ self.H[item,:].T

In [ ]:
from surprise import SVD
from surprise import NMF
from surprise import Dataset
from surprise.model_selection import cross_validate
from surprise.model_selection import GridSearchCV
from surprise.model_selection.split import train_test_split
import numpy as np
import pandas as pd

data = Dataset.load_builtin('ml-100k')
train, test = train_test_split(data, test_size=0.2)
algo = myNMF(train)
algo.train(30, True)

i=0 error:232.8120358078912
i=1 error:213.42315809412963
i=2 error:206.41986257969202
i=3 error:202.00706831966613
i=4 error:198.9739669669215
i=5 error:196.81992676427058
i=6 error:195.2111056197175
i=7 error:193.93928952431767
i=8 error:192.89489359182832
i=9 error:192.0309351721562
i=10 error:191.3088473306569
i=11 error:190.6983874250896
i=12 error:190.1712560275384
i=13 error:189.70394419866847
i=14 error:189.2915417633111
i=15 error:188.9258267913843
i=16 error:188.59774599294067
i=17 error:188.29884716694758
i=18 error:188.02385207774915
i=19 error:187.76656340410327
i=20 error:187.52426356251857
i=21 error:187.2982999417575
i=22 error:187.09008358213654
i=23 error:186.89809802616654
i=24 error:186.72302120405826
i=25 error:186.56182289728784
i=26 error:186.4131140370305
i=27 error:186.27590592884624
i=28 error:186.1492841892283
i=29 error:186.0322000997855

The error(Norm of the difference of truths and predictions matrices) seems to converage at around 20+ epochs. Choosing an iteration size like 15 would be significantly faster without much more loss to the accuracy of the model.

In [ ]:
data = Dataset.load_builtin('ml-100k')
train, test = train_test_split(data, test_size=0.2)

for reg in [0.01, 0.02, 0.05, 0.1, 0.25, .5]:
  algo = myNMF(train, 15, reg, reg)
  print(f'\nUsing regularization parameters (lu, li) = {reg}')
  algo.train(15, True)

Using regularization parameters (lu, li) = 0.01
i=0 error:217.1520734515188
i=1 error:193.58816153912576
i=2 error:184.46627790563326
i=3 error:179.01524813872402
i=4 error:175.28102075149508
i=5 error:172.55190093856933
i=6 error:170.45463622894124
i=7 error:168.7702970127201
i=8 error:167.40520044559955
i=9 error:166.28989285319122
i=10 error:165.36219066141513
i=11 error:164.57935907536552
i=12 error:163.91314874804024
i=13 error:163.3379110906859
i=14 error:162.832431459497

Using regularization parameters (lu, li) = 0.02
i=0 error:215.15258004745903
i=1 error:191.48132247258982
i=2 error:182.4105574164401
i=3 error:177.11356670688835
i=4 error:173.59576652343165
i=5 error:171.0768683411867
i=6 error:169.1835549355447
i=7 error:167.72752784285308
i=8 error:166.56951745090197
i=9 error:165.60742827422862
i=10 error:164.78235036942655
i=11 error:164.06262119815358
i=12 error:163.42307820028637
i=13 error:162.8516844563025
i=14 error:162.3392189676657

Using regularization parameters (lu, li) = 0.05
i=0 error:216.3401118761352
i=1 error:191.86206470432916
i=2 error:182.19051251527347
i=3 error:176.54958596264794
i=4 error:172.9156778860897
i=5 error:170.3310895629473
i=6 error:168.36021493299117
i=7 error:166.79663305001066
i=8 error:165.52966867602458
i=9 error:164.4722888146668
i=10 error:163.57283514918313
i=11 error:162.80138393680204
i=12 error:162.1324748572155
i=13 error:161.54441412999435
i=14 error:161.02372297188617

Using regularization parameters (lu, li) = 0.1
i=0 error:217.44632967939
i=1 error:192.62447991185408
i=2 error:182.60654663195294
i=3 error:176.92856568470143
i=4 error:173.2469961584297
i=5 error:170.65540466329884
i=6 error:168.70717810129327
i=7 error:167.19737841745962
i=8 error:165.981997337598
i=9 error:164.9682456062716
i=10 error:164.10680693749325
i=11 error:163.36414179165152
i=12 error:162.7166910790506
i=13 error:162.14972973981327
i=14 error:161.65025394877216

Using regularization parameters (lu, li) = 0.25
i=0 error:216.43473331515054
i=1 error:190.1733620486223
i=2 error:179.81782531776776
i=3 error:174.31903222970706
i=4 error:170.97054388933273
i=5 error:168.66767723737493
i=6 error:166.9772502293855
i=7 error:165.6746099844684
i=8 error:164.6325276861788
i=9 error:163.77426370706448
i=10 error:163.04710272368288
i=11 error:162.41875722607918
i=12 error:161.87042358220864
i=13 error:161.3874578015008
i=14 error:160.95932589284635

Using regularization parameters (lu, li) = 0.5
i=0 error:219.78269762811829
i=1 error:190.92907879798048
i=2 error:180.23116616750522
i=3 error:174.7241836309112
i=4 error:171.38090625282237
i=5 error:169.09023210063083
i=6 error:167.40455179915114
i=7 error:166.10031069430622
i=8 error:165.0607446633651
i=9 error:164.22040959724606
i=10 error:163.53229672573357
i=11 error:162.95933881932922
i=12 error:162.47421937012675
i=13 error:162.0582273516609
i=14 error:161.69896132158274

Convergence speed remains largely unchanged even for much higher lambda values. Error seems to be minimized as **li,lu = 0.05**